@page "/Admin/create-role"
@model MyApp.Admin.Pages.Roles.CreateModel

@{
    ViewData["title"] = "Tạo các roles";
}

<h1>@ViewData["title"]</h1>
@await Html.PartialAsync("_StatusMessage", Model.StatusMessage)


<div class="row">
    <div class="col-md-6">
        <form id="create-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.RoleName" class="form-control" placeholder=""/>
                <label asp-for="Input.RoleName" class="form-label"></label>
                <span asp-validation-for="Input.RoleName" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Lưu</button>
            <a class="btn btn-primary" asp-page="./Index">Danh sách role</a>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}