@page "/can-xac-thuc-email-dang-ky"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Thông báo xác thực email";
}

<h1>@ViewData["Title"]</h1>
<p>Chúng tôi đã gửi email xác thực cho bạn, vui lòng mở email đế biết cách xác thực.</p>

