@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Đặt lại password thành công";
}

<h1>@ViewData["Title"]</h1>
<p>
    Bạn đã đặt lại mật khẩu thành công. Vui lòng <a asp-page="./Login">nhấn vào đây để đăng nhập</a>.
</p>
